
.logo{
width: 150px;
  height: 50px;
}
a.text-bleu{
  color: #2e538b;
  text-decoration: none;
}

.button-row{
  display: table-cell;

}
.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  width: 120px;
}

