body {padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-blue{
  color: #0571b3;
}
mat-form-field{
  width: 100%;
}
mat-tab-group{
  width: 100%;
}
main {
  height: 80vh;
}
textarea{
  height: 45vh;
}
