.header-text{
  font-size: 70px;
  line-height: normal;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.bg-blue{
  background-color: #c6d7eb;
}

