<!-- Jumbotron -->
<div class=" text-center bg-blue p-5 shadow">
  <div class="d-flex flex-column flex-md-row justify-content-around">
    <div class="col-6">
      <h1 class="header-text">Papyrus , is a place to write, read, and like articles</h1>
      <h4 class="mb-3">Il est facile et gratuit de publier votre réflexion sur n'importe quel sujet et de vous connecter avec des millions de lecteurs.</h4>
      <button  (click)="openDialogWriteArticle()"  mat-raised-button >Start Writing</button>
    </div>
    <div class="col-6">
      <img src="./assets/images/bg.png" alt="Logo"  />
    </div>
  </div>

</div>
<!-- Jumbotron -->
